<div class="card mb-1">
    <div class="card-header">
        <h5 class="mb-0">Configure your laptop</h5>
    </div>
    <div class="card-body collapse">
        <form name="configure" novalidate>
            <div class="form-group" ng-repeat="component in $ctrl.laptop.components">
                <label for="option_{{ component.id }}">{{ component.message }}</label>
                <select name="option_{{ component.id }}" id="option_{{ component.id }}" class="form-control" required ng-model="component.selected"
                    ng-options="(option.value + ' (&euro;' + option.price + ')') for option in component.options track by option.id">
                </select>
                <div ng-show="configure.$submitted || configure['option_' + component.id].$touched">
                    <div ng-show="configure['option_' + component.id].$error.required" class="alert alert-danger mt-2">Please select a value.</div>
                </div>
            </div>

            <input type="submit" ng-click="$ctrl.save()" class="btn btn-primary" value="Next" />
        </form>
    </div>
</div>